.vscode/
*/**/doc/*.*
!*/**/doc/*.tex
!*/**/doc/*.pdf
!*/**/doc/*.bib
cc/homework*/*.aux
cc/homework*/*.bbl
cc/homework*/*.blg
cc/homework*/*.log
cc/homework*/*.blg
cc/homework*/*.synctex.gz
cc/homework*/*.out
_minted-*/
*.swp
